@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

ul.custom-list li {
  list-style-image: url("../public/check.svg");
  list-style-position: inside;
}

@layer base {
  h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: Dosis,sans-serif;
  }
  h1 {
    @apply text-6xl mb-7;
  }
  h2 {
    @apply text-4xl mb-5;
  }
  h3 {
    @apply text-3xl mb-5;
  }

  h4 {
    @apply text-3xl;
  }
  p {
    @apply mb-4;
    font-weight: 400;
  }
}

@layer utilities {
  .underline-custom {
    @apply underline decoration-yellow-400 decoration-4;
  }

  .after-border {
    @apply pr-5;
  }

  .after-border:after {
      content: "";
      border: 1px solid #fc0;
      position: absolute;
      height: 100%;
      right: 0;
      top: 0;
  }
}

div#ReactBackgroundSlider > figure {
  @apply h-screen
}


@keyframes scroll_1 {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-0.6em); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(0.6em); }
  100% { transform: translateY(0); }
}

.example--1 {
  background: tomato;
}

.scroll-icon__wheel-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: .6em;
  height: 1em;
  width: .4em;
  margin-left: -.2em;
  border-radius: .4em;
  overflow: hidden;
}

.scroll-icon__wheel-inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.5);
  animation: scroll_1 2.75s ease-in-out infinite;
}

@keyframes scroll_2 {
  0%   { transform: translateY(0); opacity: 1; }
  25%  { opacity: 1; }
  75%  { transform: translateY(.75em); opacity: 0; }
  100% { transform: translateY(0); opacity: 0; }
}

.scroll-icon {
  display: block;
  position: absolute;
  height: 3em;
  width: 1.5em;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 1em;
  bottom: 30px;
  left: calc(50% - .75em)
}

